# Папка с виртуальным окружением - НЕ ЗАГРУЖАТЬ!
.venv/
venv/
env/

# Кэш Python - НЕ ЗАГРУЖАТЬ!
__pycache__/
*.pyc

# Настройки PyCharm - НЕ ЗАГРУЖАТЬ!
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db